body {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.blueBackground {
  background: linear-gradient(179.96deg, #123363 30.27%, #266ad1 100%);
}

.p5Canvas {
  position: relative;
}

.sidebar {
  z-index: 100;
  box-shadow: -20px 0px 60px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.logo {
  z-index: -2;
  padding-bottom: 15vh;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 0;

  /* ANIMATE */
}

.big-letter {
  z-index: -2;
  padding-bottom: 0vh;
  font-family: Noah;
  font-style: normal;
  font-weight: 900;
  font-size: 350px;
  line-height: 437px;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 0;
  -webkit-text-stroke: 5px white;

  /* GRADIENT */
  background: -webkit-linear-gradient(#ff8a00, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.waves {
  z-index: -4;
  position: relative;
}

.wave-top {
  position: absolute;
  width: 100%;
  bottom: 0vh;
  padding-bottom: 10vh;
  right: 0;
  z-index: -4;
}

.wave-mid {
  position: absolute;
  width: 100%;
  padding-bottom: 0vh;
  bottom: 0vh;
  right: 0;
  z-index: -3;
}

.wave-btm {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.wrapper {
  z-index: -4;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  margin: 0 auto;
}

#diagram {
  padding-top: 50px;
  width: 200px;
}

h2 {
  font-family: Noah;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.bye {
  animation-name: bye, mover;
  animation-duration: 2s, 1s;
  animation-delay: 0ms, 2s; /* add this */
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
}

.mover {
  -webkit-animation: mover 1s ease-in-out infinite alternate;
  animation: mover 1s ease-in-out infinite alternate;
}

.correct {
  -webkit-animation: correct 1s ease;
  animation: correct 1s ease;
}

/* animations */

@-webkit-keyframes mover {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes bye {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(1000px);
  }
}

@keyframes correct {
  30% {
    background: linear-gradient(360deg, #00b897 0%, #00800d 100%);
  }
  70% {
    background: linear-gradient(360deg, #00b897 0%, #00800d 100%);
  }
}

/* TIMER */
.gamify {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2vw;
  z-index: 30;
}
p {
  position: relative;

  padding: 1vw;
  background: rgba(19, 19, 19, 0.6);
  border-radius: 100px;

  font-family: Noah;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flaggy {
  position: relative;
  border: 4px white solid;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.scorecount {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  margin-left: 0.5vw;
}

.countFlag {
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin-left: 10px;
  color: white;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.reset {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Noah;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 530px;
  position: absolute;
  left: 0;
  margin-left: 3.3vw;
  color: #1d5fc3;
  transition: 0.25s ease;
}

.reset:hover {
  background: #00c87a;
  color: white;
}

a {
  text-decoration: none;
}
