body {
  overflow-y: hidden;
}

.mobile {
  display: none;
  position: absolute;
  z-index: 20;
}
/* Webcam */
#defaultCanvas0 {
  /* height: 40vw;
    width: 70vw; */
  z-index: -1;
  background-color: var(--white);
  border: 7px solid var(--black);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  animation: canvasShow 1s ease-in-out forwards;
}

@keyframes canvasShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* General */
.game__wrapper {
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
  position: relative;
  color: var(--black);
}

/* Hint */

.hint {
  position: absolute;
  height: 55vh;
  width: 15vw;
  left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 9090.91px;
  box-shadow: var(--shadow);
}

.hint-top {
  animation: midToToptoBottm 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

.hint-mid {
  animation: bttmToMid 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

.hint-bttm {
  top: 100vh;
  transition: 1s cubic-bezier(0.85, 0, 0.15, 1);
}

.hint-end {
  top: 100vh;
}

.hint-end-mid {
  animation: bttmToMid 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
  animation-delay: 1s;
}

@keyframes midToToptoBottm {
  0% {
    top: 22vh;
  }
  100% {
    top: -58vh;
  }
}

@keyframes bttmToMid {
  0% {
    top: 100vh;
  }

  100% {
    top: 22vh;
  }
}

.hint p {
  font-weight: 300;
  font-size: 18px;
  font-style: italics;
}

.hint__img {
  height: 11vw;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Countdown */
.countdown {
  height: 11vw;
  width: 11vw;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  z-index: 3;
  position: absolute;
  right: 8vw;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  animation: topToTopShow 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

.countdown__num {
  line-height: 100%;
}

.countdown-end {
  animation: topToTop 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
  animation-delay: 1.5s;
}

@keyframes topToTop {
  0% {
    top: 3vh;
  }
  100% {
    top: -13vw;
  }
}

@keyframes topToTopShow {
  0% {
    top: -13vw;
  }
  100% {
    top: 3vw;
  }
}

.countdown__txt {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
}

/* Score */
.score {
  height: 10vh;
  width: 11vw;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  z-index: 3;
  position: absolute;
  top: 3vh;
  right: 22vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  animation: topToTopShow 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

.score-end {
  animation: topToTop 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
  animation-delay: 1.5s;
}

.score__img {
  width: 2.8vw;
}

.correct__img {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: auto;
  left: 0;
}

.correct__img-init {
  top: 100vh;
}

.correct__img-moveUp {
  animation: correctMoveUp 2s ease-in-out forwards;
}

@keyframes correctMoveUp {
  0% {
    top: 100vh;
  }
  100% {
    top: -550vw;
  }
}

.start-end__img {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: auto;
  left: -240vw;
  top: 0;
}

.start-end__img-move {
  animation: startMoveRight 2s ease-in-out forwards;
}

@keyframes startMoveRight {
  0% {
    left: -240vw;
  }
  100% {
    left: 100vw;
  }
}

.info {
    background-color: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    position: absolute;
    bottom: 50px;
    width: 550px;
    height: 200px;
    right: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    box-sizing: border-box;
}

.info__txt {
    margin-left: 40px;
}

.info__link {
    transition: 150ms ease-in-out;
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.info__link:hover {
    transition: 150ms ease-in-out;
    border-bottom: 1px solid var(--white);
}

.info-end {
  animation: bttmTobttm 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
  animation-delay: 1.5s;
}

@keyframes bttmTobttm {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 3vh;
  }
}

@media screen and (max-width: 1050px) {
  .mobile {
    display: block;
    color: var(--black);
  }
  .game__main {
    display: none;
  }

  #defaultCanvas0 {
    display: none;
  }

  .mobile__logo {
    display: absolute;
    width: 20vw;
    transform: translate(25vw, 6vh);
  }

  .mobile__content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile__card {
    background-color: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    margin-left: 7vw;
    margin-right: 8vw;
    padding: 8vw 7vw;
  }

  .mobile__card__text__inst {
    font-weight: 400;
  }

  .mobile__content__email {
    padding-top: 60px;
  }

  .intro__credits--link {
    color: rgb(184, 255, 255);
    border-bottom: 1px solid rgb(184, 255, 255);
    transition: border 100ms ease-in-out;
  }

  .intro__credits--link:hover {
    font-style: normal;
    border-bottom: 1px solid var(--purple);
    transition: border 100ms ease-in-out;
  }
}
