.intro__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--purple);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}

.intro__arrow {
    position: absolute;
    z-index: -1;
    height: 100vh;
    left: -50vw;
    transition: left 250ms ease-in-out;
}


.intro__lead {
    margin-bottom: 0.4em;
}

.intro__paragraph {
    width: 90%;
}

.intro__txt {
    background-color: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-bottom: 100px;
}

.intro__logo {
    position: absolute;
    right: -15%;
    top: -5%;
    z-index: 1;
}

.intro__btn {
    background-color: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    left: 10%;
    bottom: 10%;
    position: absolute;
    transition: 250ms ease-in-out;
}

.intro__btn:hover ~ .intro__arrow {
    left: -10vw;
    transition: left 500ms ease-in-out;
}


.intro__btn:active ~ .intro__arrow {
    left: 70vw;
    transition: left 200ms ease-in-out;
}

.intro__btn:active {
    box-shadow: inset 0px 0px 0px 7px var(--black), 7px 7px 0px var(--black);
    transition: 250ms ease-in-out;
    transform: translate(7px, 7px)
}

.intro__btn:hover {
    background-color: rgb(184, 255, 255);
}

.intro__credits {
    position: absolute;
    bottom: -50px;
    color: var(--white);
}

.intro__credits--link {
    color: rgb(184, 255, 255);
    border-bottom: 1px solid rgb(184, 255, 255);
    transition: border 100ms ease-in-out;
}

.intro__credits--link:hover {
    font-style: normal;
    border-bottom: 1px solid var(--purple);
    transition: border 100ms ease-in-out;
}